body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
	background-color: #08A059; /* Green */
	color: #ffffff;
}
.bg-2 {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}
.bg-3 {
	background-color: #ffffff; /* White */
	color: #555555;
}
.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav  li a:hover {
	color: #1abc9c;
}
#doorstate {
	margin-top: 8px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
    padding-left: 12px;
	position: relative;
	display: block;
	font: 12px Montserrat, sans-serif;
	letter-spacing: 5px;
	text-decoration: none;
}
#doorstateString{
    color: #ffffff;
}
#doorstateString:hover{
    color: #777;
    text-decoration: none;
}
#doorstateString:visited{
    color: #ffffff;
}

@media (min-width:450px) {
	#map-big{
		display: initial;
	}
	
	#map-medium{
		display: none;
	}
}

@media (max-width:450px) {
	#map-big{
		display: none;
	}
	
	#map-medium{
		display: initial;
	}
}