body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    width: 100%;
    overflow-x: hidden;
    color: #f5f6f7;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.h-text-left > h2 {
    text-align: left;
}

.h-text-left > * > li > h2 {
    text-align: left;
}

p {
    font-size: 20px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #08A059;
    /* Green */
    color: #ffffff;
}

.bg-1 > * > a {
    color: #cfcfcf;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c;
}

#doorstate {
    margin-top: 8px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    position: relative;
    display: block;
    font: 12px Montserrat, sans-serif;
    letter-spacing: 5px;
    text-decoration: none;
}

#doorstateString {
    color: #ffffff;
}

#doorstateString:hover {
    color: #777;
    text-decoration: none;
}

#doorstateString:visited {
    color: #ffffff;
}

#particles,
#particles-overlay {
    position: absolute;
    width: 100%;
    top: 0;
}

#particles {
    height: 670px;
}

#particles-topper {
    height: 200px;
}

#particles-overlay {
    height: 100%;
    margin-top: 60px;
    z-index: 10;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.no-side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important; 
}

@media (min-width: 800px){
    .container-fluid {
        padding-right: 25vw;
        padding-left: 25vw;
    }
}

@media (min-width:450px) {
    #map-big {
        display: initial;
    }
    #map-medium {
        display: none;
    }
}

@media (max-width:450px) {
    #map-big {
        display: none;
    }
    #map-medium {
        display: initial;
    }
}
.event {
  max-width: 80%;
  text-align: left;
}
.event_pre {
  color: white;
  font-size: 0.8em;
}

.event_title {
  font-size: 1.4em;
  display: block;
}

.event_date {
  display: block;
}

.event_loc {
  display: block;
}

.event_time {
  display: block;
}

.event_price {
  display: block;
}

.event_desc {
  display: block;
}

.event_download {
  display: block;
}

.faw-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 30px;
}
